@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
  @include container;
}

.grid {
  @include grid;

  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq("lg") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
